<%- include('includes/header.ejs') %>
  </head>

  <body>
    <%- include('includes/navigation.ejs') %>
      <% if(proje.length>0){ %>
        <% for (let project of proje) { %>
            <h1><%= project.projectName %> </h1>
            <p><%= project.description %>  </p>
            <p><%= project.authorName %> </p>
        <% } %>
      <% } else { %>
           <h1>No Project Found!</h1>
      <% } %>
  </body>

  </html>
