<%- include('includes/header.ejs') %>
  </head>

  <body>
    <%- include('includes/navigation.ejs') %>
      <% if(proje.length>0){ %>
        <% for (let project of proje) { %>
          <a href="/projectDetail/<%= project.id %>" > <h1><%= project.projectName %> </h1></a>
            <p><%= project.description %>  </p>
            <p><%= project.authorName %> </p>
        <% } %>
      <% } else { %>
           <h1>No Project Found!</h1>
      <% } %>
  </body>

  </html>
