<%- include('includes/header.ejs') %>
  </head>

  <body>
    <%- include('includes/navigation.ejs') %>
      <h1 class="heading">
        <%= project.projectName %>
      </h1>

      <div class="filter">



        <div class="row g-3">
          <div class="col">
            <form action="/projectDetail/<%= project.id %>" method="post">
              <div class="mb-3">
                <label class="form-label" for="lable">Lable</label>
                <select name="lable" id="lable" class="form-select form-select-lg mb-3"
                  aria-label=".form-select-lg example">
                  <option value="low">Low</option>
                  <option value="medium">Medium</option>
                  <option value="high">High</option>
                  <option value="critical">Critical</option>
                </select>
                <button type="submit" class="btn btn-primary mb-3">Search</button>
              </div>
            </form>
          </div>


          <div class="col">
            <form action="/projectDetail/<%= project.id %>" method="post">
              <div class="mb-3">
                <label class="form-label" for="search">Search</label>
                <input class="form-control" type="text" name="search" id="search">
                <button type="submit" class="btn btn-primary mb-3">Search</button>
              </div>
            </form>
          </div>
        </div>

         <a href="/projectDetail/<%= project.id %>" class="btn btn-primary">Reset</a>

      </div>
      <div class="issueCard">
        <% if(issues.length>0){ %>
          <% for (let issue of issues) { %>
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-header" style="font-size: 2rem;">
                  <%= issue.issue %>
                </h5>
                <p class="card-text">
                  <%= issue.description %>
                </p>

                <% if( issue.lable==='high' ) {%>
                  <a href="#" class="btn btn-warning">
                    <%= issue.lable %>
                  </a>
                  <% } %>

                    <% if( issue.lable==='medium' ) {%>
                      <a href="#" class="btn btn-info">
                        <%= issue.lable %>
                      </a>
                      <% } %>
                        <% if( issue.lable==='low' ) {%>
                          <a href="#" class="btn btn-secondary">
                            <%= issue.lable %>
                          </a>
                          <% } %>
                            <% if( issue.lable==='critical' ) {%>
                              <a href="#" class="btn btn-danger">
                                <%= issue.lable %>
                              </a>
                              <% } %>


              </div>
              <div class="card-footer text-muted">
                <%= issue.authorName %>
              </div>
            </div>
            <% } %>
              <% } else { %>
                <h1 class="nothingFound">No Issue Found!</h1>
                <% } %>

      </div>
  </body>

  </html>
